<CascadingValue Name="ComponentContext" Value="@componentContext">
    <div class="navbar">
        <div class="burger">@Burger</div>
        <div class="title">@Title</div>
        <div class="actions">@Actions</div>
        @if (Extra != null)
        {
            <div class="extra">@Extra</div>
        }
    </div>
</CascadingValue>

@code {
    private DefaultState<ComponentContext> componentContext = new(ComponentContext.NAVBAR);

    [Parameter]
    public RenderFragment Burger { get; set; }

    [Parameter]
    public RenderFragment Title { get; set; }

    [Parameter]
    public RenderFragment Actions { get; set; }

    [Parameter]
    public RenderFragment Extra { get; set; }
}